body {
    height: 100vh;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    color: white;
    text-shadow: 0 0 .5rem black;
    font-size: 3rem;
    text-align: center;
    margin-top: 3vh;
    margin-right: 3.2vw;
}
.underheader {
    margin-top: 1vh;
    font-size: 1rem;
}
.buttoncontainer {
    display: flex;
    justify-content: center;
    column-gap: 1.5vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.btn {
    height: 50px;
    width: 120px;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 .5rem black;
    border: 3px solid white;
    box-shadow: 0 0 0.2rem black;
    background-color: #FA8BFF;
    background-image: linear-gradient(225deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}
.btn:hover {
    scale: 1.1;
}
.maincontent {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.grid {
    width: 720px;
    height: 720px;
    display: grid;
    box-shadow: 0 0 0.2rem black;
    margin-bottom: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
}
.gridbox {
    border: 0.1em;
    min-height: 7.2px;
    min-width: 7.2px;
    border-style: solid;
    background-color: white;
    box-sizing: border-box;
}
.colorbuttons {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    margin-top: 5vh;
}
.btnc {
    height: 50px;
    width: 120px;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 .5rem black;
    border: 3px solid white;
    box-shadow: 0 0 0.2rem black;
}
.btnc:hover {
    scale: 1.1;
}
.btnwhite {
    color: black;
    background-color: white;
    border-color: black;
    text-shadow: none;
}
.btnred {
    background-color: red;
}
.btnorange {
    background-color: orange;
}
.btnyellow {
    background-color: rgb(255, 255, 0);
    text-shadow: 0 0 .3rem black;

}
.btngreen {
    background-color: green;
}
.btnblue {
    background-color: blue;
}
.btnpurple {
    background-color: purple;
}
.btnblack {
    background-color: black;
}
.clearbutton {
    background-color: #FF9A8B;
    background-image: linear-gradient(0deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);  
    height: 700px;
    width: 200px;
    color: white;
    font-size: 30px;
    text-shadow: 0 0 .4rem black;
    border: 3px solid white;
    box-shadow: 0 0 0.2rem black;
    align-self: center;
    margin-bottom: 3vh;
    border-radius: 10px;
}


/* 
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); 

background-color: #FFE53B;
background-image: linear-gradient(90deg, #FFE53B 0%, #FF2525 76%);
*/
